page-valotp {
  background-image: url($terms-background);
  background-size:cover;
}


.toolbar-background-md{
 background:none;
}
.toolbar-background-ios{
background:none
}

.toolbar-background-wp{
background:none;
}
button{
      height: 5.6rem;
      font-family: cursive;
    font-size: 0.99em;
}
ion-footer {
padding-bottom: 10%;
height:20%;
}
.logo{
  display: table;
  height: 50vh;
  width : 100%;
  padding : 0;
}

.logo1{
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  padding : 0;
}

img{

   width: 8em;
}

.text1{
  font-size: 2em;
      font-style: italic;
      font-weight: bold;
      color: white;
      text-align: center;
}
.text2{
  display: block;
    height: 10%;
    /* font-family: inherit; */
    font-weight: 400;
    color: white;
    text-align: center;
}
.text3{
  display: block;
height: 10%;
color: white;
text-align: center;
}
